#root {
    z-index: 1;
    .text {
        position: absolute;
        top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100vw;
    }
    .start {
        position: absolute;
        z-index: 2;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: #e9e5e1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &.hide {
            display: none;
        }
    }
}